<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>flask / bootstrap tags output example</title>

  <!-- Standard bootstrap CSS imports-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'>
  <link rel='stylesheet' href='https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/assets/app.css'>
</head>


<body>
    <div class="container">

        <p>You chose:</p>

        <ul>
        {% for row in cities_list %}
            <li>{{row}}</li>
        {% endfor %}
        </ul>
    </div>

<!-- Standard Bootstrap imports -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js'></script>


</body>
</html>